@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer components {
  .container {
    /* FIXME: Specify the real "px-" padding */
    /* FIXME: Specify the max-width "max-w-" by formula: 1920px design content width + padding * 2 */
    @apply mx-auto w-full max-w-[1400px];

    /*
      FIXME: Specify the real "px-" padding for each breakpoint
      @screen 2xl {
        @apply px-;
      }
    */
  }

  .gap-x-grid {
    /* FIXME: Specify the real grid "gap-x-" for each breakpoint */
    @apply gap-x-10;
  }
}

@layer utilities {
  /*
    Handy CSS class to prevent Input background color becomes yellow in Chrome on autofill.
    Works as well with inputs with transparent background.

    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  */
  .remove-autocomplete-styles:-webkit-autofill,
  .remove-autocomplete-styles:-webkit-autofill:hover,
  .remove-autocomplete-styles:-webkit-autofill:focus {
    transition: background-color 5000s;
  }
}
